<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Hello Gamer!</title>
    </head>
    <body>
        <a href="/api/games/{{gameid}}/players">CLICK TO JOIN</a>
        <br/>
        <br/>
        <a href="/api/games/{{gameid}}/spectators">CLICK TO WATCH</a>
    </body>
</html>