<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Hello Gamer!</title>
        <script data-main="/static/js/game" src="/static/js/require.js"></script>
    </head>
    <body>
        <input type="hidden" id="gameid" value="{{gameid}}"/>
        <input type="hidden" id="playerid" value="{{playerid}}"/>
        <div id="phaser-example"></div>
    </body>
</html>