<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Join the game</title>
    </head>
    <body>
        <form method="post" action="/api/games/{{gameid}}/players">
            <label for="player_name">Player name</label>
            <input type="text" maxlength="10" id="player_name" name="player_name"/>
            <input type="submit" value="submit"/>
        </form>
    </body>
</html>